<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TWILIO_ACCOUNT_SID" value="AC45000000000000000000000000000006" />
    <add key="TWILIO_AUTH_TOKEN" value="8700000000000000000000000000000d" />
    <add key="TWILIO_SMS_PHONE_NUMBER" value="+12125551212" />
  </appSettings>
</configuration>